# Core
streamlit
pandas
numpy
matplotlib
seaborn
plotly
phik
altair
ydata-profiling
streamlit-pandas-profiling
pycaret[full]
scikit-learn
missingno
pmdarima
statsmodels
prophet
shap
openpyxl
xlrd
streamlit-option-menu
